@import "tailwindcss";
@import "tw-animate-css";


@layer base {
  :root {
    --color-white: #ffffff;

    --color-blue-100: #7ea4d7;
    --color-blue-200: #2c85fc;
    --color-blue-300: #2266c1;
    --color-blue-400: #0d284c;

    --color-cyan-100: #2debfc;
    --color-cyan-200: #187d86;
    --color-cyan-300: #0e474c;

    --color-gray-100: #f9fafc;
    --color-gray-200: #d3d5d9;
    --color-gray-300: #93979f;
    --color-gray-400: #20242c;
    --color-gray-500: #16181d;
    --color-gray-600: #14161a;
    --color-gray-700: #101216;
    --color-gray-800: #0b0c0f;

    /* border radius */
    --radius-lg: 0.5rem;
    --radius-md: calc(0.5rem - 2px);
    --radius-sm: calc(0.5rem - 4px);

    /* fonts */
    --font-sans: "PT Sans Caption", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* font sizes */
    --text-heading-hg: 40px;
    --text-heading-xl: 32px;
    --text-heading-lg: 28px;
    --text-heading-md: 24px;
    --text-heading-sm: 20px;
    --text-heading-xs: 16px;

    --text-body-tag: 12px;
    --text-body-md: 16px;
    --text-body-sm: 14px;
    --text-body-xs: 12px;

    --text-action-md: 16px;
    --text-action-sm: 14px;
  }
}

/* === Utilities === */
@layer utilities {
  .container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  /* font-size presets (size + line-height + weight + font-family) */
  .text-heading-hg {
    font-size: var(--text-heading-hg);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }
  .text-heading-xl {
    font-size: var(--text-heading-xl);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }
  .text-heading-lg {
    font-size: var(--text-heading-lg);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }
  .text-heading-md {
    font-size: var(--text-heading-md);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }
  .text-heading-sm {
    font-size: var(--text-heading-sm);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }
  .text-heading-xs {
    font-size: var(--text-heading-xs);
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-sans);
  }

  .text-body-md {
    font-size: var(--text-body-md);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-inter);
  }
  .text-body-sm {
    font-size: var(--text-body-sm);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-inter);
  }
  .text-body-xs {
    font-size: var(--text-body-xs);
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-body-tag {
    font-size: var(--text-body-tag);
    line-height: 1;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-action-md {
    font-size: var(--text-action-md);
    line-height: normal;
    font-weight: 500;
    font-family: var(--font-inter);
  }
  .text-action-sm {
    font-size: var(--text-action-sm);
    line-height: normal;
    font-weight: 500;
    font-family: var(--font-inter);
  }
}

/* === Base === */
@layer base {
  * {
    border-color: var(--color-gray-200);
  }

  body {
    background: var(--color-white);
    color: var(--color-gray-800);
    font-family: var(--font-sans);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
